<ngx-spinner>
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true">
  {{msjSpinner}}...
</ngx-spinner>

<div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-primary btn-sm" (click)="crearAutorModal()"
            title="Crear un autor nuevo"  >
            <i class="fa fa-plus"></i>&nbsp;Crear autor</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="table table-responsive">
                  <table class="table table-responsive table-stripped">
                    <thead>
                      <tr>
                        <th>nombre</th>
                        <th>fechaNacimiento</th>
                        <th>nacionalidad</th>
                        <th class="text-center">Opciones</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="autores.length == 0">
                      <tr>
                        <td colspan="6" class="text-center">No hay registros disponibles</td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="autores.length > 0">
                      <tr *ngFor="let autor of autores">
                        <td>
                          {{ autor.nombre }}
                        </td>
                        <td>
                          {{ autor.fechaNacimiento }}
                        </td>
                        <td>
                          {{ autor.nacionalidad }}
                        </td>
                        <td class="text-center">
                          <button class="btn btn-outline-primary btn-sm" title="Editar autor">
                            <i class="fa fa-edit"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="crearAutorModal" tabindex="-1" aria-labelledby="crearAutorModalLabel" aria-hidden="true"
  data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="crearAutorModalLabel">Crear Usuario</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="mb-3">
                          <label for="nombreAutor" class="form-label">Nombre Autor</label>
                          <input type="text" class="form-control" id="nombreAutor" placeholder="Ingrese el nombre del autor">
                          <div *ngIf="form.get('nombreAutor').touched && form.get('nombreAutor')?.hasError('required')"
                          class="text-danger">
                              El nombre del autor es requerido.
                          </div>
                      </div>
                      <div class="mb-3">
                          <label for="Fechadenacimiento" class="form-label">fechaNacimiento</label>
                          <input type="Fechadenacimiento" class="form-control" id="Fechadenacimiento" placeholder="Ingrese la fecha de nacimiento">
                          <div *ngIf="form.get('Fechadenacimiento').touched && form.get('Fechadenacimiento')?.hasError('required')"
                          class="text-danger">
                             La fecha de nacimiento es requerida.
                          </div>
                      </div>
                      <div class="mb-3">
                          <label for="nacionalidad" class="form-label">nacionalidad</label>
                          <input type="text" class="form-control" id="nacionalidad" placeholder="Ingrese la nacionalidad">
                          <div *ngIf="form.get('nacionalidad').touched && form.get('nacionalidad')?.hasError('required')"
                          class="text-danger">
                              La nacionalidad es requerido.
                          </div>
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                  (click)="cerrarModal()">Cerrar</button>
                  <button type="button" class="btn btn-primary">Guardar</button>
              </div>
          </div>
      </div>
  </div>
